<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="banner">
    <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
        </div>
        <img scr="/images/Final_product.png" width="100px">
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar">Home</a></li>
          <li><a href="vlogs" id="navBar">Vlogs</a></li>
          <li><a href="photos" id="navBar">Photos</a></li>
          <li><a href="about" id="navBar">About Us</a></li>
        </ul>
      </div>
    </nav>

    <div class="video-wrap">
      <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/images/videobg.mp4" type="video/mp4">
          </video>
    </div>

    <div class="content">
      <h1 id="title" class="animated zoomIn">Travel Easy</h1>
      <h2>Visit. Explore. Live. </h2>
    </div>
    </section>
  </div>
  <section>

    <div style="background-color:white;">
      <div class="leftTxt" style="max-width:900px; font-size:40px;">
        <br>
        <h2 class="w3"></h2>Problem</h2>
        <!-- <p class="w3-opacity"><i>Tag Lien</p> -->
        <p class="">
          Now a days, people have a lot of problems when it comes to traveling. Sometimes they don’t know where to travel or why. Some do not have info.
        </p>
      </div>
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1100px; font-size:40px;" id="band">
        <br>
        <h2 class="w3-wide"></h2>Solution</h2>
        <!-- <p class="w3-opacity"><i>Tag Lien</p> -->
        <p class="w3-justify">
          We bring you everything you need to make the right choice. And also to make it eaiser when traveling.
        </p>
      </div>
    </div>

  </section>
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>


  <div style="background-color:white;allign:right;">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1100px; font-size:40px; text-align:right;" id="band">
      <br>
      <h2 class="w3-wide">Values</h2>
      <!-- <p class="w3-opacity"><i>Travel Right</p> -->
      <p class="leftAlign">
      </p>
      We have everything you want in a website for easy travel. We are all about new things. We can make your travels worth it. People say travel is expensive so we figure out something for you. We offer easy and organized revies of where youre favorite youtubers
      and frinds have been. We want to bring people joy and a sense of adventure. We want them to explore the world with our website. We want them to be excited for being a traveler not to be bored. We want people to have a great trip and have the time
      of their life’s.
    </div>
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1100px; font-size:40px; text-align:right;" id="band">
      <br>
      <h2 class="w3-wide">Services</h2>
      <!-- <p class="w3-opacity"><i>Travel Right</p> -->
      <p class="leftAlign">
        We offer videos (mainly vlogs), pictures, things to do, Real experiences from people, and much more.
      </p>
    </div>
  </div>









  <!--  -->
  <!--  -->

  <!--  -->
  <!--  -->






  <section>
    <footer class="page-footer" style="background-color:darkgrey;">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Contact Us!</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"> Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Snapchat</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright
        </div>
      </div>
    </footer>

  </section>



</body>


</html>
