<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="javasheet" href="/javascripts/scrollFire.js">

</head>

<body>
  <nav class="navbar" id="navBar" id="transBar">
    <div class="nav-wrapper">
      <!-- Dropdown Trigger -->
      <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>




      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="vlogs.html" id="navBar">Vlogs</a></li>
        <li><a href="photos.html" id="navBar">Photos</a></li>
        <li><a href="news.html" id="navBar">News</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="vlogs.html">Vlogs</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="news.html">News</a></li>
      </ul>
    </div>
  </nav>
  <section class="intro" id="box1">
    <div class="inner">
      <div class="content ">
        <h1 id="title" class="animated zoomIn">Travel Easy</h1>
        <!-- <a class="btn animated zoomIn4" href="">
          Get Started
        </a> -->
      </div>
    </div>
  </section>









  <!--  <div class="item" data-aos="fade-down">2</div>-->
  <div id="test1" class="container" class="wow bounceInUp">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <br> Duis aute irure dolor in reprehenderit in voluptate velit <br> esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p> <br> <br>

    <div class="chip">
      <img src="/images/pic6.jpg" alt="Contact Person"> John Doe
    </div>
    <br>
    <br>
    <br>
  </div>




  <section class="intro2" id="box1">
    <div class="inner">
      <div class="content2">
        <h1 id="title" class="animated zoomIn">Travel Easy</h1>
        <!-- <a class="btn animated zoomIn4" href="#navbar">
          Get Started
        </a> -->
      </div>

    </div>

  </section>



  <div id="test2" class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <br> Duis aute irure dolor in reprehenderit in voluptate velit <br> esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p> <br> <br>
  </div>

</body>

</html>
