<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>

  <div>
    <section id="sectionVid">

      <div class="video-background">
        <div class="video-foreground">
          <iframe src="https://www.youtube.com/embed/t25oERwjV58?autoplay=1&loop=1&playlist=t25oERwjV58" frameborder="0" allowfullscreen></iframe>
          <iframe src="https://www.youtube.com/embed/vqEVB90ZtqI?autoplay=1&loop=1&playlist=vqEVB90ZtqI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <nav class="navbar" id="navBar">
        <div class="nav-wrapper">

          <ul id="nav-mobile" class="right hide-on-med-and-down" id="navFont">
            <li><a href="vlogs.html" id="navBar">Vlogs</a></li>
            <li><a href="photos.html" id="navBar">Photos</a></li>
            <li><a href="news.html" id="navBar">News</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="vlogs.html">Vlogs</a></li>
            <li><a href="photos.html">Photos</a></li>
            <li><a href="news.html">News</a></li>
          </ul>
        </div>
      </nav>
      <section class="intro" id="box1">
        <div class="inner">
          <div class="content ">
            <h1 id="title" class="animated zoomIn">Travel Easy</h1>
            <!-- <a class="btn animated zoomIn4" href="">
          Get Started
        </a> -->
          </div>
        </div>
      </section>
      <section>

      </section>
  </div>







  <section id="bgWhite">

    <!--  <div class="item" data-aos="fade-down">2</div>-->
    <div id="test1" class="container" class="wow bounceInUp">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br> Duis aute irure dolor in reprehenderit in voluptate velit <br> esse cillum dolore eu fugiat nulla pariatur. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p> <br>      <br>

      <div class="chip">
        <img src="/images/pic6.jpg" alt="Contact Person"> John Doe
      </div>
      <br>
      <br>
      <br>
    </div>
  </section>




  <section class="intro2" id="box1">
    <div class="inner">
      <div class="content2">
        <h1 id="title" class="animated zoomIn">Travel Easy</h1>
        <!-- <a class="btn animated zoomIn4" href="#navbar">
          Get Started
        </a> -->
      </div>

    </div>

  </section>


  <section>

    <div id="icons">

      <div class="gallery">
        <a target="_blank" href="fjords.jpg">
      <img src="fjords.jpg" alt="Fjords" width="300" height="200">
    </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="forest.jpg">
      <img src="forest.jpg" alt="Forest" width="300" height="200">
    </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="lights.jpg">
      <img src="lights.jpg" alt="Northern Lights" width="300" height="200">
    </a>
        <div class="desc">Add a description of the image here</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="mountains.jpg">
      <img src="mountains.jpg" alt="Mountains" width="300" height="200">
    </a>
        <div class="desc">Add a description of the image here</div>
      </div>

    </div>

  </section>





</body>

</html>
