<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar" id="navBar">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down" id="navFont">
        <li><a href="vlogs.html" id="navBar">Vlogs</a></li>
        <li><a href="photos.html" id="navBar">Photos</a></li>
        <li><a href="news.html" id="navBar">News</a></li>
      </ul>
    </div>
  </nav>

  <section>
    <div class="video-wrap">
      <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/images/videobg.mp4" type="video/mp4">
    </video>
    </div>


    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      Logo
    </div>
    <div class="content">
      <h1 id="title" class="animated zoomIn">Photos</h1>
      <h2>Visit. Explore. Live </h2>
    </div>
  </section>

  <div style="background-color:white;">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">Who we are</h2>
      <p class="w3-opacity"><i>We love traveling</i></p>
      <p class="w3-justify">
        We make traveling easier, helping travelers, youtubers, and vlogers; Traveling has never gotten easier with our product. Geek Squad has designed a web page were people can be more informed about different destinations in all parts of the world. We are
        going to give you the best traveling experience by helping you get organized, give you more content to help you to choose your final choice. Thousands of vloggers, travelers, bloggers, youtubers use our services to grow and expand. Our website
        will bring a once in a life time experience. We have everything you want in a website for easy travel. We can make your dreams come true. This website can be suitable for people who travel over the world, visit their loved ones and people who
        work at traveling. You can see from far away a city that you want to visit. We are all about new things. We can make your travels worth it. People say travel is expensive so we figure out something for you. We offer easy and organized revise of
        where your favorite youtubers and friends have been. We want to bring people joy and a sense of adventure. We want them to explore the world with our website. We want them to be excited for being a traveler not to be bored. We want people to have
        a great trip and have the time of their life’s.


      </p>
    </div>

    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">Vlogs</h2>

      <div class="w3-row w3-padding-32">
        <div class="w3-third">
          <p>Kasey Neistat</p>
          <img src="/images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>David</p>
          <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Bob</p>
          <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
        </div>
      </div>
    </div>
  </div>



</body>


</html>
