<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--  <ul><% tags.forEach( function(tag) {
  %><li class="taggy"><%=tag %></li><%
}

) %></ul>.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
-->

<body>

  <div class="banner">
    <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
        </div>
        <img scr="/images/Final_product.png" width="100px">
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar" class="alen">Home</a></li>
          <li><a href="vlogs" id="navBar" class="alen">Vlogs</a></li>
          <li><a href="photo" id="navBar" class="alen">Photos</a></li>
          <li><a href="about" id="navBar" class="alen">About Us</a></li>
        </ul>
      </div>
    </nav>

    <div class="video-wrap">
      <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/images/videobg.mp4" type="video/mp4">
          </video>
    </div>

    <div class="content">
      <h1 id="title" class="animated zoomIn">Travel Easy</h1>
      <!-- <h2>Visit. Explore. Live. </h2> -->
      <h2>Explore Differently</h2>
    </div>
    </section>
  </div>
  <section>

    <div style="background-color:white; height:auto;">
      <div class="row" style="background-color:white;">
        <div class="col s4" style="font-size:25px; text-align:center;">
          <img src="/images/5.png" class="iconic" alt="">
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <img src="/images/2.png" class="iconic" alt="">
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <img src="/images/4.png" class="iconic1" alt="">
        </div>
      </div>
      <div class="row" style="background-color:white;">
        <div class="col s4" style="font-size:25px; text-align:center;">
          <p class="">NEW THINGS</p>
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <p class="">WORTH IT</p>
        </div>
        <div class="col s4" style="font-size:25px; text-align:center;">
          <p>NEW EXPERIENCES</p>
        </div>
      </div>

      <div class="row">
        <div class="col s6" style="font-size:25px; text-align:center;">
          <img src="/images/3.png" alt="">
        </div>


        <div class="col s6" style="font-size:25px; text-align:center;">
          <img src="/images/1.png" alt="">
        </div>
        <div class="row">
          <div class="col s6" style="font-size:25px; text-align:center;">
            <p class="">SENSE OF ADVENTURE</p>
          </div>


          <div class="col s6" style="font-size:25px; text-align:center;">
            <p class="">The time of your life</p>
          </div>

        </div>
      </div>
      <br><br><br>

  </section>

  <section>

    <div class="">
      <div style="background-color:white;">
        <div class="row" style="background-color:white; height:550px;">
          <div class="col s12"></div>
          <br>
          <div class="col s6" style="font-size:40px;" class="center">
            <br>
            <br> People have a lot of problems when it comes to traveling. Sometimes they don’t know where to travel or why. Some do not have info.
          </div>
          <div class=" col s6 " style="height:500px; ">
            <img src="/images/pic3.jpg " style="height:500px;border:solid 5px black; margin:5px; " alt=" ">
          </div>
        </div>


        <div class="row" style="background-color:white; height:550px;">
          <div class=" col s6 " style="height:500px; ">
            <img src="/images/pic3.jpg " style="height:500px;border:solid 5px black; margin:5px; " alt=" ">
          </div>
          <div class="col s6 " style="font-size:40px; ">
            <br> We bring you everything you need to make the right choice. And also to make it eaiser when traveling.

          </div>
        </div>





        <div class="row" style="height:550px; ">
          <br>
          <div class="col s6 " style=" font-size:40px;">
            So We brought you everything you need in single page so you make the right choice.
          </div>
          <div class=" col s6 " style="height:500px;">
            <img src="/images/pic3.jpg " style="height:500px;border:solid 5px black; margin:5px; " alt=" ">
          </div>
        </div>
      </div>

  </section>



  <div style="background-color:white;allign:right; ">

    <div class="w3-container w3-content w3-center w3-padding-64 " style="max-width:1100px; font-size:40px; text-align:right; " id="band ">
      <br>
      <h2 class="w3-wide ">Services</h2>
      <!-- <p class="w3-opacity "><i>Travel Right</p> -->
      <p class="leftAlign ">
        We offer videos (mainly vlogs), pictures, things to do, Real experiences from people, and much more.
      </p>
    </div>
  </div>


  <section>
    <footer class="page-footer " style="background-color:darkgrey; ">
      <div class="container ">
        <div class="row ">
          <div class="col l6 s12 ">
            <h5 class="white-text ">Contact Us!</h5>
            <p class="grey-text text-lighten-4 ">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col s12 ">
            <div class="">

            </div>
            <h5 class="white-text ">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3 " href="#! "> Instagram</a></li>
              <li><a class="grey-text text-lighten-3 " href="#! "> Twitter</a></li>
              <li><a class="grey-text text-lighten-3 " href="#! "> Snapchat</a></li>
              <li><a class="grey-text text-lighten-3 " href="#! "> Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright ">
        <div class="container ">
          © 2017 Copyright
        </div>
      </div>
    </footer>

  </section>



</body>


</html>
