<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <link rel="stylesheet" type="text/css" href="/stylesheets/pra.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="banner">
    <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="tags" id="navBar" class="alen">Sign Up</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar" class="alen">Home</a></li>
          <li><a href="vlogs" id="navBar" class="alen">Vlogs</a></li>
          <li><a href="photo" id="navBar" class="alen">Photos</a></li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="video-wrap">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/images/Vlogs.mp4" type="video/mp4">
          </video>
      </div>

      <div class="content">
        <h1 id="title" class="animated zoomIn">Vlogs</h1>
        <h2 class="os">Visit. Explorer. Live. </h2>
      </div>
    </section>
  </div>

  <div style="background-color:white;">
    <br>
    <h2 style="text-align:center; ">Thailand</h2>
    <div class="row">
      <div class="col s12 m6" style="width:428px; height:426px;">
        <div class="card">
          <div class="card-image">
            <img src="/images/gas.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <h1> Come eat with us.</h1>
               <p>Join us in our picnic, and learn about some tricks you can use.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:428px; height:426px;">

        <div class="card">
          <div class="card-image">
            <img src="/images/gas1.jpg">
                      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h1> Foodies 100.</h1>
              <p>Let's dive into the cinematagraphy of food. </p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/gas2.jpg">
                       <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <aling-tex="left"><h1>Healthy Choices.</h1>
              <p> Come and see how we make healthy things tasty. </p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/gas3.jpg">
             <a class="btn-floating halfway-fab wavses-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <h1>Eating with friends.</h1>
              <p> Some friends came over and I made dinner super easy and super fast.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h2 style="text-align:center;"> Other gastronomic wonders</h2>
    <div class="row" style="margin:0;">
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/gas4.jpg">
             <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Going to China.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/gas5.jpg">
             <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></i></a>
          </div>
          <div class="card-content">
            <p>Puertorican Rice.</p>
          </div>
        </div>

      </div>

      <div class="col s12 m6" style="width:450px">

        <div class="card">
          <div class="card-image">
            <img src="/images/gas6.jpg">
             <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <p>Food Adventure</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px; margin-bottom:20px;">
        <div class="card">
          <div class="card-image">
            <img src="/images/gas7.jpg">
             <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Food Adventure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


 <section>
    <footer class="page-footer " style="background-color:#37393a; ">
      <div class="container ">
        <div class="row ">
          <div class="col l6 s12 ">
            <h5 class="white-text ">Contact Us!</h5>
            <p class="grey-text text-lighten-4 "></p>
          </div>
          <div class="col s12 ">
            <div class=" ">

            </div>
            <h5 class="white-text ">Social Media</h5>
            <div class="container1" >
              <div class="row">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
                <div class="test">
                  <a href="#">
                    <p>Facebook</p>
                  </a>
                  <a href="#">
                    <p>Twitter</p>
                  </a>
                  <a href="#">
                    <p>Google+</p>
                  </a>
                  <a href="#">
                    <p>Github</p>
                  </a>
                  <a href="#">
                    <p>Dribble</p>
                  </a>
                  <a href="#">
                    <p>CodePen</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright ">
        <div class="container ">
          © 2017 Copyright
        </div>
      </div>
    </footer>

  </section>
</body>


</html>
