<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="banner">
    <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
        </div>
        <img scr="/images/Final_product.png" width="100px">
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar">Home</a></li>
          <li><a href="vlogs" id="navBar">Vlogs</a></li>
          <li><a href="photos" id="navBar">Photos</a></li>
          <li><a href="about" id="navBar">About Us</a></li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="video-wrap">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/images/Vlogs.mp4" type="video/mp4">
          </video>
      </div>

      <div class="content">
        <h1 id="title" class="animated zoomIn">Vlogs</h1>
        <h2>Experience diferently </h2>
      </div>
    </section>
  </div>

  <div style="background-color:white;">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">Croasia</h2>

      <div class="w3-row w3-padding-32">
        <div class="w3-third">
          <p>Kasey Neistat</p>
          <img src="/images/hqdefault.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>David</p>
          <img src="/images/hqdefault(1).jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Bob</p>
          <img src="/images/hqdefault(2).jpg" class="w3-round" alt="Random Name" style="width:60%">
        </div>
      </div>
    </div>

    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">Japan</h2>

      <div class="w3-row w3-padding-32">
        <div class="w3-third">
          <p>Kasey Neistat</p>
          <img src="/images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>David</p>
          <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Bob</p>
          <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width:60%">
        </div>
      </div>
    </div>
  </div>



</body>


</html>
