<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Travel Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="banner">
    <nav class="navbar" id="navBar">
      <div class="nav-wrapper">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
        </div>
        <img scr="/images/Final_product.png" width="100px">
        <ul id="nav-mobile" class="right hide-on-med-and-down" id="aliens_and_cows">
          <li><a href="/" id="navBar" class="alen">Home</a></li>
          <li><a href="vlogs" id="navBar" class="alen">Vlogs</a></li>
          <li><a href="photo" id="navBar" class="alen">Photos</a></li>
          <li><a href="about" id="navBar" class="alen">About Us</a></li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="video-wrap">
        <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted">
          <source src="/images/Vlogs.mp4" type="video/mp4">
          </video>
      </div>

      <div class="content">
        <h1 id="title" class="animated zoomIn">Vlogs</h1>
        <h2>Visit. Explorer. Live. </h2>
      </div>
    </section>
  </div>

  <div style="background-color:white;">
    <br>
    <h2 style="text-align:center; ">Ibiza</h2>
    <div class="row">
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Biggest mall ever</span>
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Going thru a forest</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Meating new people!!</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab wavses-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h2 style="text-align:center;"> Other party place</h2>
    <div class="row">
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>

      </div>

      <div class="col s12 m6" style="width:450px">

        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" style="width:450px; margin-bottom:20px;">
        <div class="card">
          <div class="card-image">
            <img src="/images/hqdefault.jpg">
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Contact Us!</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"> Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Snapchat</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright
        </div>
      </div>
    </footer>

  </section>
</body>


</html>
