@font-face {
  font-family: aliens_and_cows;
  src: url("/fonts/aliens_and_cows/aliens and cows_trial.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.banner {
  height: 100vh;
}

.nav-wrapper, .navbar, .navBar {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: none;
}

.video-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /*Hide 2nd side bar */
  top: 0;
  left: 0;
}

#videobg {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#title {
  font-family: 'aliens_and_cows', 'Verdana';
  font-size: 200px;
  font-weight: normal;
  border: solid white;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  margin: 10vh auto;
}

.content {
  font-size: 100px;
  margin: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  color: white;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  text-shadow: -4px 2px 8px #040404;
}

.content h1 {
  font-family: 'aliens_and_cows', sans-serif;
  color: #F9F3F4;
  font-size: 220px;
  text-align: center;
  padding: 50vh, 5px;
  border-radius: 9px;
  /*height: 100px;*/
  width: 490px;
  text-shadow: -4px 2px 8px #040404;
}

.content h2 {
  font-size: 50px;
}

.divHeight {
  width: 100%;
  height: 500px;
  text-align: center;
}

.segment {
  height: 500px;
}

body, html {
  height: 100%;
}

.fullScreen {
  width: 100%;
  height: 100vh;
}
