/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/


/*@import url('./aliens')*/

@font-face {
  font-family: aliens_and_cows;
  src: url("/fonts/aliens_and_cows/aliens and cows_trial.ttf");
}

#icons div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

#icons div.gallery:hover {
  border: 1px solid #777;
}

#icons div.gallery img {
  width: 100%;
  height: auto;
}

#icons div.desc {
  padding: 15px;
  text-align: center;
}

html, body {
  margin: 0;
  text-align: center;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

#navBar {
  color: white;
  background-color: transparent;
  text-shadow: none;
  border: 0;
  font-size: 30px;
  box-shadow: 0;
}

#box1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.intro {
  height: 100%;
  width: 100%;
  margin: fixed;
  /*background-image: url("/images/pic1.jpg");*/
  /*bg image*/
  background-size: cover;
  background-position: center;
  display: table;
  top: 0;
}

.intro2 {
  height: 100%;
  width: 100%;
  margin: fixed;
  background-image: url("/images/pic2.jpg");
  /*bg image*/
  background-size: cover;
  background-position: center;
  display: table;
  top: 0;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.intro2 .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}


/**/

.content {
  font-size: 100px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content2 {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

.content2 h1 {
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

#hidden {
  visibility: hidden;
}

.btn {
  font-size: 35px;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 3px 15px;
  text-decoration: none;
  border: solid white 2px;
}

.imgBag {
  max-width: 100px;
  height: 100px;
  text-align: center;
}

#darkgrin {
  background-color: #626A6A;
}

nav {
  float: none;
  font-size: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  box-shadow: 0;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}


/* Links inside the navbar */

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Main content */

.main {
  margin-top: 30px;
}

#overflow {
  background-color: #505c5c;
  overflow: auto;
}

.btn:hover {
  color: #036A81;
  border: solid #036A81 2px;
}

p {
  font-size: 160%;
  line-height: 210%;
  text-align: center;
  margin: 3%;
  font-family: sans-serif;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 4s;
  animation-delay: 1s;
}

.zoomIn4 {
  animation-name: zoomIn;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
}

#title {
  font-family: 'aliens_and_cows', 'Verdana';
  font-size: 120px;
  font-weight: normal;
  border: solid white 3px;
}

#colorSB {
  color: #bf8e6e;
}


/**/


/**/


/**/

#sectioniVid {
  display: block;
}

#bgWhite {
  background-color: white;
}

* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem;
  }
  .vid-info h1 {
    margin-bottom: .2rem;
  }
}

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
